/*body {
    background: url("https://images3.alphacoders.com/119/1198620.jpg");
  }*/
.main {
  background-image: url("https://gitlab.com/malautaro/modelo-imagenes/-/raw/main/Imagenes/Fondo.jpg");
  height: 1080px;
  width: 100%;
}
  .datos {
    display: flex;
    justify-content: space-around;
  }
  .nombres {
    /* We first create a flex layout context */
    display: flex;
    margin: 0px 0px 0px 0px;
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    list-style: none;
  }
  
  .mapas-linea {
    /* We first create a flex layout context */
    display: flex;
    flex-direction: row;
  
    
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    list-style: none; 
  }

  .flex-item {
    background: tomato;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 20%;
    margin: 10px;
  }

  .logos {
    /* We first create a flex layout context */
    display: flex;
    margin: 00px 00px 0px 0px;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around; 
    }

    .titulo-torneo {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; 
      align-items: center;

    }

    .titulo {
      background: tomato;
      color: white;
      font-weight: bold;
      font-size: 5em;
      text-align: center;
      width: 80%;
      margin: 0;
    }